<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ pageTitle || title || "Schreibmaschine" }}</title>
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
  <link rel="stylesheet" href="/assets/css/cosmo.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  {{ if additionalCSS }}
  <link rel="stylesheet" href="/assets/css/{{ additionalCSS }}.css">
  {{ /if }}
</head>
<body>

        <h1>Schreibmaschine</h1>

  {{ content }}
 

  <script src="/assets/js/main.js" defer></script>


  {{ if additionalJS }}
  <script src="/assets/js/{{ additionalJS }}.js"></script>
  {{ /if }}


  {{# Alpine.js Plugins (must load before Alpine.js core) #}}
  <script src="/assets/js/alpinejs/alpinejs_persist.js" defer></script>
  <script src="/assets/js/alpinejs/alpine_ajax.js" defer></script>
  <script src="/assets/js/alpinejs/alpinejs_focus.js" defer></script>
  <script src="/assets/js/alpinejs/alpinejs_intersect.js" defer></script>
  
  {{# Alpine.js Core (must load last) #}}
  <script src="/assets/js/alpinejs/alpinejs.js" defer></script>
  


</body>
</html>
